//utiltity classes
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    min-height: 80vh;
    margin-top: 2.9rem;
}
#dash{
    padding:2rem;
    .container{
        // display: grid;
        // grid-template-columns: 30% 70%;
        // grid-gap: 1rem;
    }
    .main{
        // width: 70% !important;
        // margin: auto;
        margin-left: 30%;
    }
    .sidepanel{

        width: 30%; /* Set the width of the sidebar */
        // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        // top: 0; /* Stay at the top */
        // left: 0;
        background-color: #111; /* Black */
        color:#f5f5f5;
        overflow: hidden;
        min-height: 80vh;
        // overflow-x: hidden; /* Disable horizontal scroll */
        // padding-top: 20px;
    }
    #page-wrap { 
        width: 30%; 
        // margin: 15px auto; 
        position: relative; 
        margin: 0;
        // min-height: 80vh;
        // background-color: #111; /* Black */
        // height: 100vh;
      }
      
      #sidebar { 
        top:0;
        width: 30%; 
        position: fixed; 
        margin-top: 3.5rem;
        min-height: 80vh;
        // margin-left: 410px; 
        left: 0;
        padding: 2rem;
        background-color: #111; /* Black */
        overflow: hidden;
        z-index: 1;
      }
}
ul{
    li{
        list-style-type: none;
        display: inline-block;
        margin-right: 1rem;
        padding: 0 0.3rem;
    }
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.primary-btn{
    padding: 1rem 2rem;
    margin: 0.4rem;
    border: none;
    font-size: 1.3rem;
    border-radius: 4px;
    margin-top: 1rem;
    color: #333;
    background: greenyellow;
    cursor: pointer;
    transition: all 3s;

    &:hover{
        color: red;
        // cursor: progress;
    }
}
//styling the header class
header{
    height: 60px;
    // background-color: #181818;
    // color: #f5f5f5;
    position: fixed;
    top: 0;
    overflow: hidden;
    width:100%;
    z-index: 1000;
    background-color:#35424a;
    border-bottom: #ff7b39 2px solid;
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
       
        h1{
            margin-top: 1.4rem;
            // padding: 0;
            translate: -35;
            // margin-top: 0;
        }
    }
    a{
        // margin-top: 1.2rem;
        color: #f5f5f5;
        transition: all 3s;
        &:hover{
            text-decoration: underline;
            color: green;
        }
    }
    ul{
        float: right;
        li{
            text-decoration: none;
            margin-top: 1.4rem;
        }
    }
}
#login{
    display:flex;
    align-items: center;
    justify-content: center;
    // text-align: center;
    background-color: #333;
    color: #f5f5f5;
    min-height: 80vh;
    padding: 2rem;
    margin-top: 2.9rem;
    flex-direction: column;
    .form{
        margin: 1rem;
        width: 800px;
        margin: auto;
        label{
            display: block;
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .form-control{
            border-radius: 4px;
            padding: 0.6rem 1.4rem 0.6rem 1.4rem;
            border: none;
            margin-bottom: 1rem;
            width: 60%;
            margin: auto;
        }
    }
}


//styling post 
#post{
    padding: 1.5rem;
    margin-top: 1.3rem;
        .grids{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            margin-bottom: 2rem;
            overflow: hidden;
        }
        
        width: 90% !important;
        margin: auto;
    .noMore{
        text-align: center;
        text-decoration: wavy;
        padding:1.5rem;
        color: #35424a;
    }
}
#postDetail{
    padding: 1.5rem;
    min-height: 80vh;
    margin-top: 1.3rem;
}
#notFound{
    padding:2rem;
    text-align: center;
    min-height: 80vh;
}
//styling the footer class 
footer{
    padding: 2rem;
    color: #f5f5f5;
    background: #181818;
    text-align: center;
    z-index: 1000;
}